<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andersoneshop"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:roundIcon="@mipmap/app_logo_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndersonEshop">

        <!-- Splash Activity: The initial entry point. Must be exported. -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity: Exported true to avoid IDE launch errors -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity android:name=".ProductActivity" android:exported="false" />
        <activity android:name=".CategoryActivity" android:exported="false" />
        <activity android:name=".CartActivity" android:exported="false" />
        <activity android:name=".CheckoutActivity" android:exported="false" />
        <activity android:name=".ConfirmationActivity" android:exported="false" />

    </application>

</manifest>